.jrss-app-container {
  display: flex;
  width: 100%;
  align-items: stretch;
  flex: 1;
  min-height: 100%;
  font-family: "Roboto", "Helvetica Neue";
  color: #59C3C3;
  padding: 15px;
  background-color: #EBEBEB;
}

/*
Colors
------
59C3C3 
52489C
CAD2C5
84A98C
*/